/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2016, 3:35:53 PM
    Author     : Web App Develop PHP
*/
body{
    background-color: #ccc;
}
.container{
    width: 500px;
    margin: 20px auto;
    background-color: #fff;
}
ul{
    list-style-type: none;
}
ul li{
    padding-top: 10px;
}
input[type="submit"]{
    width: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}
